# notebook for random forest(with 10 features)

In [132]:
#libraries
import pandas as pd # for data analysis
import csv #load the data
import numpy as np #for array computation

from sklearn.ensemble import RandomForestClassifier
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.metrics import accuracy_score # to get some statistical reports

In [133]:
#load the dataset
players = pd.read_csv('players.csv', index_col=0)
test_labels = pd.read_csv('test_labels.csv', index_col=0) 
test_players = pd.read_csv('test_player.csv', index_col=0)
match = pd.read_csv('match.csv', index_col=0)

In [134]:
match.head() # 'radiant_win' column required as target variable

,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
match_id,,,,,,,,,,,,
0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

In [135]:
players.head() # for features

,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
match_id,,,,,,,,,,,,,,,,,,,,,
0,0,86,0,3261,10960,347,362,9,3,18,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
0,1,51,1,2954,17760,494,659,13,3,18,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
0,0,83,2,110,12195,350,385,0,4,15,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
0,2,11,3,1179,22505,599,605,8,4,19,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
0,3,67,4,3307,23825,613,762,20,3,17,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
df = pd.DataFrame(players, columns = ['account_id','hero_id','player_slot','gold','gold_spent','gold_per_min','xp_per_min','kills','deaths','assists'])
#feature selection

In [137]:
df.head() #other features dropped as they don't have the information

,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists
match_id,,,,,,,,,,
0,0,86,0,3261,10960,347,362,9,3,18
0,1,51,1,2954,17760,494,659,13,3,18
0,0,83,2,110,12195,350,385,0,4,15
0,2,11,3,1179,22505,599,605,8,4,19
0,3,67,4,3307,23825,613,762,20,3,17

In [138]:
ab = pd.DataFrame(match, columns= ['radiant_win'])

In [139]:
 ab.head() # label to predict

          radiant_win
match_id
0                True
1               False
2               False
3               False
4                True

In [140]:
 X= df.join(ab) # Add a new column with the radiant_win, this is what we are going to try to predict

In [141]:
print X.head()

          account_id  hero_id  player_slot  gold  gold_spent  gold_per_min  \
match_id
0                  0       86            0  3261       10960           347
0                  1       51            1  2954       17760           494
0                  0       83            2   110       12195           350
0                  2       11            3  1179       22505           599
0                  3       67            4  3307       23825           613

          xp_per_min  kills  deaths  assists  radiant_win
match_id
0                362      9       3       18         True
0                659     13       3       18         True
0                385      0       4       15         True
0                605      8       4       19         True
0                762     20       3       17         True

In [142]:
X['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
# Create a new column that for each row, generates a random number between 0 and 1, and
# if that value is less than or equal to .75, then sets the value of that cell as True
# and false otherwise. This is a quick way of randomly assigning some rows to
#be used as the training data and some as the test data.

In [143]:
X.head()

,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,assists,radiant_win,is_train
match_id,,,,,,,,,,,,
0,0,86,0,3261,10960,347,362,9,3,18,True,False
0,1,51,1,2954,17760,494,659,13,3,18,True,True
0,0,83,2,110,12195,350,385,0,4,15,True,True
0,2,11,3,1179,22505,599,605,8,4,19,True,True
0,3,67,4,3307,23825,613,762,20,3,17,True,True

In [144]:
# Create two new dataframes, one with the training rows, one with the test rows
train, test = X[X['is_train']==True], X[X['is_train']==False]

In [146]:
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

('Number of observations in the training data:', 375063)
('Number of observations in the test data:', 124937)

In [147]:
# Create a list of the feature column's names
features = X.columns[:10]

In [148]:
features

Index([u'account_id', u'hero_id', u'player_slot', u'gold', u'gold_spent',
       u'gold_per_min', u'xp_per_min', u'kills', u'deaths', u'assists'],
      dtype='object')

In [163]:
# train['radiant_win'] and test['radiant_win'] contains the result in true and false form. Before we can use it,
# we need to convert results into a digit. So, in this case there
# are two results, which have been coded as 0 as loss and 1 as win.
y = pd.factorize(train['radiant_win'])[0]
y_test = pd.factorize(test['radiant_win'])[0]
# View target
print y #target for training
print y_test #target for testing

[0 0 0 ..., 1 1 1]
[0 1 1 ..., 1 1 1]

In [173]:

# Create a random forest Classifier. By convention, clf means 'Classifier'
clf = RandomForestClassifier(n_estimators=100,n_jobs=2, random_state=0)

# Train the Classifier to take the training features and learn how they relate
# to the training y 
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [152]:
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
clf.predict(test[features])

array([0, 1, 1, ..., 1, 1, 1])

In [153]:
# View the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[0:10]

array([[ 0.95,  0.05],
       [ 0.45,  0.55],
       [ 0.29,  0.71],
       [ 0.05,  0.95],
       [ 0.47,  0.53],
       [ 0.27,  0.73],
       [ 0.23,  0.77],
       [ 1.  ,  0.  ],
       [ 1.  ,  0.  ],
       [ 1.  ,  0.  ]])

In [154]:
test['radiant_win'].head() # View the ACTUAL outcome for the first five observations

match_id
0     True
1    False
1    False
2    False
3    False
Name: radiant_win, dtype: bool

In [155]:
preds = match.radiant_win[clf.predict(test[features])]

In [156]:
preds[0:5] # View the PREDICTED outcome for the first five observations

match_id
0     True
1    False
1    False
1    False
1    False
Name: radiant_win, dtype: bool

In [157]:
# View a list of the features and their importance scores
list(zip(train[features], clf.feature_importances_))

[('account_id', 0.036649160020011784),
 ('hero_id', 0.049057491832131046),
 ('player_slot', 0.20236914667049663),
 ('gold', 0.1892295952101346),
 ('gold_spent', 0.078876113440641091),
 ('gold_per_min', 0.12765208344718143),
 ('xp_per_min', 0.085455873729406384),
 ('kills', 0.039739655996351979),
 ('deaths', 0.098474509102727287),
 ('assists', 0.092496370550917806)]

In [164]:

predicted = clf.predict(test[features])
accuracy = accuracy_score(y_test, predicted)

In [167]:
print accuracy

0.872119548252

In [168]:
 print clf.score(test[features],y_test)

0.872119548252

In [ ]:
# here I tried to predict on test data which we have in CSV file
#but unfortunately given data has very few features as compared to the features we have included

In [169]:
ts = pd.DataFrame(test_players)
tl = pd.DataFrame(test_labels)

In [170]:
test_set = ts.join(tl)

In [171]:
y_label = pd.factorize(test_set['radiant_win'])[0]

In [172]:
  from sklearn.metrics import accuracy_score
predicted = clf.predict(ts)
accuracy = accuracy_score(y_label, predicted)

ValueError: Number of features of the model must match the input. Model n_features is 10 and input n_features is 3

In [ ]:
 #model complexity: adjust value of 'n_estimator'
    #n_estimator=1 accuracy 85%
    #n_estimator=100 accuracy 87%

In [ ]:
 # So I have used only the features which are in given test file in another notebook
 # but the accuracy decreases as the main features are not included

In [ ]:
 #Thank you.